<link href="https://fonts.googleapis.com/css2?family=Lemonada&display=swap"
  rel="stylesheet">

body {
  background-color: black;
}
a:visited{
  color: black;
}
#background{
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -100;
  height: 100%;
  opacity: 0.75;
  background-size: cover;
}

#swing{
  position: absolute;
  width: 800px;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  opacity: 0.70;
  display: block;
  margin: 0;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
#swing:hover{
  opacity: 0.80;
}


#title{
  font-family: lemonada;
  font-size: 100px;
  font-style: italic;
  opacity: 60%;
  z-index: 3;
  position: absolute;
  left: 30%;
}

#eye1{
  width: 400px;
  z-index: 5;
  position: absolute;
  left: 60%;
  top: 65%;
  transition-property: all;
  transition-duration: 0.35s;
}
#eye1:hover{
  opacity: 0;
}

#eye2{
  width: 400px;
  z-index: 6;
  position: absolute;
  left: 60%;
  top: 65%;
  opacity: 0;
  transition-property: all;
  transition-duration: 0.35s;
}
#eye2:hover{
  opacity: 100;
}

#mirror{
  width: 300px;
  z-index: 6;
  position: absolute;
  left: 70%;
  top: 40%;
  opacity: 0.5;
}
#mirror:hover{
  opacity: 0.7;
}

#car{
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: -100;
  height: 120%;
  opacity: 0.75;
  background-size: cover;
}

#vulnerable{
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -100;
  width: 100%;
  opacity: 0.75;
  background-size: cover;
}

#dying:active #wiltgif{
  opacity: 0.5;
}

#wilt{
  position: absolute;
  z-index: 2;
  width: 400px;
  top: 600px;
  left: 20%;
  opacity: 0.5;
}
#wilt:active{
  opacity: 0;
}

#wiltgif{
  position: absolute;
  z-index: 1;
  width: 400px;
  top: 600px;
  left: 20%;
  opacity: 0;
}

#words{
  font-family: lemonada;
  font-size: 25px;
}

#alone{
  opacity: 0.1;
  position: absolute;
  left: 75%;
  top: 40%;
}
#alone:hover{
  opacity: 0.5;
  font-size: 30px;
}

#forgotten{
  opacity: 0.1;
  position: absolute;
  left: 70%;
  top: 25%;
}
#forgotten:hover{
  opacity: 0.5;
  font-size: 30px;
}

#abandoned{
  opacity: 0.1;
  position: absolute;
  left: 50%;
  top: 20%;
}
#abandoned:hover{
  opacity: 0.5;
  font-size: 30px;
}

#neglected{
  opacity: 0.1;
  position: absolute;
  left: 25%;
  top: 52%;
}
#neglected:hover{
  opacity: 0.5;
  font-size: 30px;
}

#burn{
  opacity: 0.5;
  left: 7%;
  position: absolute;
  width: 400px;
  top: 10%;
}

#lost{
  opactiy: 0.6;
  font-family: lemonada;
  font-size: 40px;
}
#are{
  position: absolute;
  left: 35%;
  top: 40%;
}
  #are:hover{
    font-size: 50px;
  }
#lost1{
  font-size: 75px;
  position: absolute;
  left: 45%;
  top: 40%;
  color: black;
}
  #lost1:hover{
    font-size: 85px;
  }
#or{
  position: absolute;
  left: 50%;
  top: 55%;
}
  #or:hover{
    font-size: 50px;
  }
#lost2{
  font-size: 75px;
  position: absolute;
  left: 65%;
  top: 56%;
  color: black;
}
  #lost2:hover{
    font-size: 85px;
  }
#you{
  position: absolute;
  left: 75%;
  top: 70%;
}
  #you:hover{
  font-size: 50px;
  }

#broken{
  font-family: lemonada;
  font-size: 30px;
  top: 20%;
  position: absolute;
  left: 25%;
  z-index: 2;
  opacity: 0.5;
}

#leaves{
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1;
  height: 100%;
  opacity: 0.25;
  background-size: cover;
}



#where{
  color: white;
  font-family: lemonada;
  font-size: 40px;
  position: absolute;
  left:50%;
  top:200px;
  z-index: 2;
  opacity: 0.1;
}
#where:hover{
  opacity: 0.4;
  font-size: 45px;
}

#losing{
  position: absolute;
  top: 4000px;
  opacity: 0.1;
  font-size: 55px;
  font-family: lemonada;
  color: white;
  z-index: 3;
  left: 10%
}
#losing:hover{
  opacity: 0.4;
}
#falling{
  position: absolute;
  top: 4800px;
  opacity: 0.1;
  font-size: 55px;
  font-family: lemonada;
  color: white;
  z-index: 3;
  left: 40%;
}
#falling:hover{
  opacity: 0.4;
}
#deeper{
  position: absolute;
  top: 5700px;
  opacity: 0.1;
  font-size: 55px;
  font-family: lemonada;
  color: white;
  z-index: 3;
  left: 25%;
}
#deeper:hover{
  opacity: 0.4;
}
#darkness{
  position: absolute;
  top: 6700px;
  opacity: 0.1;
  font-size: 55px;
  font-family: lemonada;
  color: white;
  z-index: 3;
  left: 35%;
}
#darkness:hover{
  opacity: 0.4;
}
#abandonedyourself{
  position: absolute;
  top: 8000px;
  opacity: 0.1;
  font-size: 40px;
  font-family: lemonada;
  color: white;
  z-index: 3;
  left: 35%;
}
#abandonedyourself:hover{
  opacity: 0.3;
}
#scrolling{
  position: absolute;
  top: 11000px;
  opacity: 0.1;
  font-size: 40px;
  font-family: lemonada;
  color: white;
  z-index: 3;
  left: 35%;
}
#scrolling:hover{
  opacity: 0.3;
}
#refresh{
  position: absolute;
  top: 14000px;
  opacity: 0.1;
  font-size: 40px;
  font-family: lemonada;
  color: white;
  z-index: 3;
  left: 35%;
}
#refresh:hover{
  opacity: 0.3;
}
#brave{
  position: absolute;
  top: 17000px;
  opacity: 0.1;
  font-size: 40px;
  font-family: lemonada;
  color: white;
  z-index: 3;
  left: 35%;
}
#brave:hover{
  opacity: 0.3;
}
#work{
  position: absolute;
  top: 18000px;
  opacity: 0.1;
  font-size: 40px;
  font-family: lemonada;
  color: white;
  z-index: 3;
  left: 35%;
}
#work:hover{
  opacity: 0.3;
}
#out{
  position: absolute;
  top: 18000px;
  opacity: 0.1;
  font-size: 40px;
  font-family: lemonada;
  color: white;
  z-index: 3;
  left: 60.25%;
}
#out:hover{
  opacity: 0.2;
}
#freedom{
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: -100;
  width: 120%;
  opacity: 0.75;
  background-size: cover;
}
#again{
  position: absolute;
  left: 10%;
  top: 20%;
  opacity: 0.6;
  font-size: 40px;
  font-family: lemonada;
}
#again:hover{
  opacity: 0.8;
  font-size: 45px;
}
#door{
  position: absolute;
  left:0;
  top:0;
  overflow: hidden;
  z-index: -100;
  width: 100%;
  opacity: 0.75;
  background-size: cover;
}
#dark{
  width: 110%;
  z-index: 1;
  right: 0;
  bottom: 0;
  background-size: cover;
  position: relative;
}
#window{
  height: 600px;
  position: absolute;
  opacity: 0.6;
  left: 10%;
  top: 20%;
}
#window:hover{
  opacity: 0.8;
}
#jail{
  height: 500px;
  position: absolute;
  opacity: 0.4;
  left: 65%;
  top: 40%;
}
#jail:hover{
  opacity: 0.6;
}
#stairs{
  height: 400px;
  position: absolute;
  opacity: 0.4;
  left: 55%;
  top: 10%;
}
#stairs:hover{
  opacity:0.6;
}
#light{
  position: absolute;
  left: 40%;
  top: 50%;
  opacity: 0.6;
  font-size: 30px;
  font-family: lemonada;
}
#light:hover{
  opacity: 0.8;
  font-size: 35px;
}
#alone2{
  position: absolute;
  left: 50%;
  top: 30%;
  opacity: 0.6;
  font-size: 20px;
  font-family: lemonada;
}
#alone2:hover{
  opacity: 0.9;
}
